<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viewlift">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />


    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />


    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:icon="@mipmap/app_logo"
        android:label="@string/default_app_name"
        android:roundIcon="@mipmap/app_logo"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label">


        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.viewlift.mobile.pushnotif.AppCMSAutoPilot" />


        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!--
        <receiver
            android:name=".mobile.pushnotif.AppCMSAirshipReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.RECEIVED" />
                <action android:name="com.urbanairship.push.DISMISSED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        -->

        <receiver
            android:name=".mobile.initialization.UrbanAirshipInitReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="INITIALIZATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".mobile.initialization.GMSInitReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="INITIALIZATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.appsflyer.InstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.viewlift.mobile.AppCMSLaunchActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_cms_app_host_name"
                    android:pathPrefix="/videos"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name"
                    android:pathPrefix="/videos"
                    android:scheme="https" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/films"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/films"
                    android:scheme="https" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/show/title"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/show/title"
                    android:scheme="https" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/films/title/"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/films/title/"
                    android:scheme="https" />

                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/photo-gallery/"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/photo-gallery/"
                    android:scheme="https" />

                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/photos/"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/photos/"
                    android:scheme="https" />

                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/article/"
                    android:scheme="http" />
                <data
                    android:host="@string/app_cms_app_host_name_suffix"
                    android:pathPrefix="/article/"
                    android:scheme="https" />


            </intent-filter>
        </activity>

        <activity
            android:name="com.viewlift.casting.roku.RokuCastingOverlay"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.kiswe.apiKey"
            android:value="@string/KISWE_PLAYER_API_KEY" />

        <!-- A receiver that will receive media buttons and send as
    intents to your MediaBrowserServiceCompat implementation.
    Required on pre-Lollipop. More information at
    http://developer.android.com/reference/android/support/v4/media/session/MediaButtonReceiver.html -->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>