<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viewlift">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:banner="@drawable/tv_logo"
        android:label="@string/default_app_name"
        android:icon="@drawable/app_logo"
        tools:replace="android:label"
        >
        <activity
            android:name="com.viewlift.tv.AppCmsTVSplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.viewlift.tv.views.activity.AppCmsTvErrorActivity"
            android:label="@string/title_activity_app_cms_tv_error"></activity>

        <activity android:name="com.viewlift.tv.views.activity.AppCmsHomeActivity"
            android:label="AppCmsHomeActivity"/>

        <activity android:name="com.viewlift.tv.views.activity.AppCMSTVPlayVideoActivity"/>

        <activity android:name="com.viewlift.tv.views.activity.AppCMSTVAutoplayActivity"/>
    </application>

</manifest>
