<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viewlift">


    <application
        android:name=".AppCMSApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="010453f0fe88d0a913753d705ba2c0cf368eb0c9" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".views.activity.AppCMSPageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.viewlift.views.activity.AppCMSSearchActivity" />
        </activity>
        <activity
            android:name=".views.activity.AppCMSErrorActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".views.activity.AppCMSPlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" />

        <activity
            android:name=".views.activity.AppCMSSearchActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".views.activity.AppCMSUpgradeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".casting.ExpandedControlsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CastControllerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.viewlift.mobile.AppCMSLaunchActivity" />
        </activity>
        <activity
            android:name=".views.activity.AppCMSWatchlistActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH.Watchlist" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ccavenue.screens.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ccavenue.screens.StatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name=".models.data.appcms.providers.AppCMSSearchableContentProvider"
            android:authorities="@string/app_cms_search_provider" />

        <activity android:name=".views.activity.AppCMSHistoryActivity" />

        <service android:name=".models.network.background.services.AppCMSBackgroundService" />

        <activity
            android:name=".views.activity.AutoplayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".views.activity.AppCMSDownloadQualityActivity"
            android:theme="@style/TransparentTheme" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.viewlift.casting.CastOptionsProvider" />

        <activity android:name=".ccavenue.screens.PaymentOptionsActivity" />

        <receiver android:name=".models.data.appcms.downloads.FileDownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Translucent"
            tools:replace="android:theme" />
        <activity android:name=".ccavenue.screens.EnterMobileNumberActivity"></activity>
        <!-- This activity declaration should be in the AppCMS/src/tv/AndroidManifest.xml
        <activity android:name=".tv.views.activity.AppCMSTVAutoplayActivity" />
        -->
        <activity
            android:name=".views.activity.AppCMSPlayAudioActivity"
            android:launchMode="singleTask">

            <!--<intent-filter>-->
            <!--<action android:name="com.viewlift.Audio.MediaNotificationManager" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name="com.viewlift.Audio.MusicService"
            android:enabled="true"
            android:exported="true">>
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>
