<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiteId</key>
	<string>d9162bc2-1228-43da-84bf-e0e56421fe79</string>
	<key>UIJsonBaseUrl</key>
	<string>https://appcms.viewlift.com/</string>
	<key>Apptentive Key</key>
	<string>dfde9505539f2dc1d24700c09fb096b5280ed4cbed0828084540ada79a2b00f7</string>
</dict>
</plist>
