<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-123456789-0</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196440324456-jq76pv8lkbsd87rdk1m7b85idl67ifth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196440324456-jq76pv8lkbsd87rdk1m7b85idl67ifth</string>
	<key>API_KEY</key>
	<string>AIzaSyB1y5rgpOOPIO30rdqLxHI958yd42Snyjk</string>
	<key>GCM_SENDER_ID</key>
	<string>196440324456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svf.mawja</string>
	<key>PROJECT_ID</key>
	<string>appcms-c7cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>appcms-c7cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:196440324456:ios:3cc7490f6670d46e</string>
	<key>DATABASE_URL</key>
	<string>https://appcms-c7cb2.firebaseio.com</string>
</dict>
</plist>
