<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecretKey</key>
	<string>vdTAMerEdh8t5t7xtUAa199qBKQuFLXb5cuG93ZF</string>
	<key>Apptentive AppId</key>
	<string>404906625</string>
	<key>Apptentive AppKey</key>
	<string>IOS-SNAGFILMS-FREE-MOVIES</string>
	<key>Apptentive AppSignature</key>
	<string>0f1d8720268ce4f7c8bdadd7f7b7c64a</string>
	<key>Apptentive Key</key>
	<string>dfde9505539f2dc1d24700c09fb096b5280ed4cbed0828084540ada79a2b00f7</string>
	<key>GoogleClientId</key>
	<string>GT387234</string>
	<key>SiteId</key>
	<string>3f5e193b-2e51-4853-839e-618e62896deb</string>
	<key>TemplateType</key>
	<string>ENTERTAINMENT</string>
	<key>UIJsonBaseUrl</key>
	<string>https://appcms.viewlift.com</string>
	<key>shouldPlayHlsUrlFirst</key>
	<true/>
</dict>
</plist>
